html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

.header--inner-wrapper,
.section--inner-wrapper,
.footer--inner-wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.header--inner-wrapper:after,
.section--inner-wrapper:after,
.footer--inner-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.header--inner-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.section--inner-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section--inner-wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
}
.section--inner-wrapper .tba--wrapper {
  text-align: center;
}

main section {
  min-height: 200px;
}

nav {
  text-align: center;
  margin-bottom: 72px;
}
nav ul {
  text-align: center;
}
nav ul:after {
  content: "";
  display: table;
  clear: both;
}
nav ul li {
  padding: 0 2%;
  text-align: center;
}
@media (min-width: 50em) {
  nav ul li {
    display: inline-block;
  }
}
nav ul li a {
  text-align: center;
}

.primary-menu-active {
  height: auto !important;
  overflow: visible !important;
}

header {
  padding-top: 20px;
  padding-bottom: 40px;
}
header .header--event-info {
  text-align: center;
}

@media (max-width: 49.9375em) {
  #venue .venue--map {
    margin-bottom: 20px;
  }
}
@media (min-width: 50em) {
  #venue .venue--map {
    width: 47.61905%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
#venue .venue--map #map-canvas {
  height: 340px;
  width: 100%;
}
@media (min-width: 50em) {
  #venue .venue--map--info {
    width: 47.61905%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer .footer--inner-wrapper div:first-of-type {
  margin-bottom: 10px;
}
