//////////////////////////
//  Our Generous Friends
/////////////////////////

.our-generous-friends {
  .section--inner-wrapper {
    max-width: 800px;
    text-align: center;
  }
  h4 {
    margin-bottom: 4px;
  }
  div {
    @include breakpoint(max-width ($our-big-break - 1)) {
      max-width: 200px;
      margin: 0 auto;
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }
  .presented-by {
    @include breakpoint($our-big-break) {
      @include grid-span(1, 2, (.5 1 1 .5));
    }
  }
  .sponsors {
    @include breakpoint($our-big-break) {
      @include grid-span(1, 3, (.5 1 1 .5));
    }
  }
}
