///////////////////
//  Registrations
///////////////////

.registration {
  text-align: center;
  a {
    &:hover {
      text-decoration: none;
    }
    button {
      @include border-radius(3px);
      @include box-shadow(tint(map-get($color-me-badd, primary), 80%) 1px 1px 1px);
      background-color: tint(map-get($color-me-badd, primary), 26%);
      display: inline;
      color: tint($typography-light, 100%);
      font-size: 1.2rem;
      border: none;
      padding: {
        top: 12px;
        right: 24px;
        bottom: 12px;
        left: 24px;
      }
      cursor: pointer;
      &:hover {
        background-color: tint(map-get($color-me-badd, primary), 20%);
        color: shade($typography-light, 2%);
      }
    }
  }
}
