
.talks-wrapper {
  max-width: 816px;
  margin: 0 auto;
  background-color: tint(map-get($color-me-badd, primary), 90%);
  padding: 20px;
  h2 {
    border-bottom: 1px solid tint(map-get($color-me-badd, primary), 60%);
    padding-bottom: 20px;
  }
  p {
    margin-left: 0;
  }
  strong {
    &.small {
      margin-right: 39px;
    }
    &.medium {
      margin-right: 30px;
    }
    &.large {
      margin-right: 18px;
    }
  }
  li {
    margin-bottom: 10px;
    a {
      @include breakpoint(max-width 690px) {
        max-width: 70%;
      }
    }
  }
  em {
    &:not(.lunch) {
      display: block;
      margin-left: 166px;
    }
  }
}
