
.speaker--wrapper {
  @include breakpoint(530px 759px) {
    &:nth-of-type(1n) {
      @include grid-span(1, 1, (1 1),  $gutter: 0);
      clear: right;
    }
    &:nth-of-type(2n) {
      @include grid-span(1, 2, (1 1),  $gutter: 0);
    }
  }
  @include breakpoint(760px) {
    &:nth-of-type(1),
    &:nth-of-type(4),
    &:nth-of-type(7),
    &:nth-of-type(10),
    &:nth-of-type(13),
    &:nth-of-type(16) {
      @include grid-span(4, 1, $gutter: 0);
      clear: right;
    }
    &:nth-of-type(2),
    &:nth-of-type(5),
    &:nth-of-type(8),
    &:nth-of-type(11),
    &:nth-of-type(14),
    &:nth-of-type(17) {
      @include grid-span(4, 5, $gutter: 0);
      clear: right;
    }
    &:nth-of-type(3),
    &:nth-of-type(6),
    &:nth-of-type(9),
    &:nth-of-type(12),
    &:nth-of-type(15),
    &:nth-of-type(18) {
      @include grid-span(4, 9, $gutter: 0);
    }

    &:nth-of-type(19) {
      @include grid-span(4, 3, $gutter: 0);
      clear: right;
    }

    &:nth-of-type(20) {
      @include grid-span(4, 7, $gutter: 0);
      clear: right;
    }

  }
  text-align: center;
  margin-bottom: 52px;
  .speaker-avatar {
    @include border-radius(300px);
    @include box-shadow(tint(map-get($color-me-badd, primary), 70%) 0px 0px 2px);
    display: block;
    margin: .5em auto;
    max-width: 200px;
    @include breakpoint(760px 999px) {
      max-width: 140px;
    }
    @include breakpoint(1000px) {
      max-width: 200px;
    }
    &.steven-merrill {
      margin-bottom: 12px;
    }
    &.matt-korostoff {
      @include breakpoint(1000px) {
        max-width: 184px;
      }
    }
  }
  h4 {
    margin-bottom: 10px;
  }
  p {
    margin: 0px auto;
  }
  .speaker--company {
    a {
      color: tint(map-get($color-me-badd, pink), 50%);
    }
  }
}
