
#training {
  margin-bottom: 36px;
  h2 {
    margin-bottom: 20px;
  }
  .trainings {
    li {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
      a {
        font-size: 1.8rem;
      }
    }
  }
}
